six/modules/c++/six.sidd/conf/schema/external/ISM-v201609/Schema/Taxonomy/Taxonomy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
  xmlns:arh="urn:us:gov:ic:arh" xmlns:xhtml="http://www.w3.org/1999/xhtml-StopBrowserRendering"
  xmlns:ism="urn:us:gov:ic:ism" targetNamespace="urn:us:gov:ic:taxonomy:common"
  xmlns:tax="urn:us:gov:ic:taxonomy:common"
  xmlns:ismcatrelto="urn:us:gov:ic:cvenum:ismcat:relto"
  xmlns:ismcatre="urn:us:gov:ic:cvenum:ismcat:responsibleentity">
  <xs:annotation>
    <xs:documentation>
      <xhtml:h1 ism:ownerProducer="USA" ism:classification="U">Intelligence Community Technical Specification  
        XML Taxonomy Common components Taxonomy schema</xhtml:h1>
    </xs:documentation>

    <xs:documentation>
      <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Notices</xhtml:h2>
      <xhtml:p ism:ownerProducer="USA" ism:classification="U">
        Distribution Notice: 
           This document has been approved for Public Release and is available for use without restriction.
       				
      </xhtml:p>
    </xs:documentation>
    <xs:documentation>
      <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Description</xhtml:h2>
      <xhtml:p ism:ownerProducer="USA" ism:classification="U">
        W3C XML Schema fragment for use in taxonomies.
      </xhtml:p>
    </xs:documentation>
    <xs:documentation>
      <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Implementation Notes</xhtml:h2>
      <xhtml:p ism:ownerProducer="USA" ism:classification="U">
        No implementation notes at this time.
      </xhtml:p>
    </xs:documentation>
    <xs:documentation>
      <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Creators</xhtml:h2>
      <xhtml:p ism:ownerProducer="USA" ism:classification="U">Office of the Director of National Intelligence
        Intelligence Community Chief Information Officer</xhtml:p>
    </xs:documentation>
  </xs:annotation>

  <xs:import namespace="urn:us:gov:ic:ism" schemaLocation="../ISM/IC-ISM.xsd"/>
  
  
  <xs:element name="IRM">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tax:URN"/>
        <xs:element ref="tax:Title" minOccurs="0"/>
        <xs:element ref="tax:Description" minOccurs="0"/>
        <xs:element ref="tax:Created"/>
        <xs:element ref="tax:Source" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element name="PointOfContact" type="tax:ContactInfoType" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute type="xs:integer" name="documentationSortOrder" use="optional"/>
    </xs:complexType>
  </xs:element>
  
  
  <xs:attributeGroup name="PocAttributeGroup">
    <xs:attributeGroup ref="ism:POCAttributeGroup"/>
    <xs:attributeGroup ref="ism:SecurityAttributesGroup"/>
  </xs:attributeGroup>
  
  <xs:element name="URN">
    <xs:annotation>
      <xs:documentation xml:lang="en"/>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:anyURI">
        <xs:pattern value="urn:[A-Za-z0-9][A-Za-z0-9:\-]+"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Title" type="ism:ShortStringWithSecurityType">
    <xs:annotation>
      <xs:documentation xml:lang="en"/>
    </xs:annotation>
  </xs:element>
  <xs:element name="Description" type="ism:LongStringWithSecurityType">
    <xs:annotation>
      <xs:documentation xml:lang="en"/>
    </xs:annotation>
  </xs:element>
  <xs:element name="Created" type="tax:CombinedDateType"/>
  <xs:element name="Source">
    <xs:annotation>
      <xs:documentation xml:lang="en"/>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="href" type="xs:anyURI" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en"/>
            </xs:annotation>
          </xs:attribute>
          <xs:attributeGroup ref="ism:SecurityAttributesGroup"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ContactInfoType">
    <xs:annotation>
      <xs:appinfo xml:lang="en"/>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Name" type="ism:ShortStringType" maxOccurs="unbounded"/>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element name="Phone" type="ism:ShortStringType" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo xml:lang="en"/>
          </xs:annotation>
        </xs:element>
        <xs:element name="Email" type="ism:ShortStringType" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo xml:lang="en"/>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="tax:PocAttributeGroup"/>
  </xs:complexType>
  <xs:simpleType name="CombinedDateType">
    <xs:annotation>
      <xs:documentation xml:lang="en"/>
    </xs:annotation>
    <xs:union memberTypes="xs:dateTime tax:DateHourMinType xs:date xs:gYearMonth xs:gYear"/>
  </xs:simpleType>
  <xs:simpleType name="DateHourMinType">
    <xs:restriction base="xs:string">
      <xs:pattern
        value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}(Z|[\-\+][0-9]{2}:[0-9]{2})?"/>
    </xs:restriction>
  </xs:simpleType>
  
</xs:schema>
