schema/SIDD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 (http://www.altova.com) by General Dynamics AIS (General Dynamics AIS) -->
<!-- SIDD v0.0.6 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:SID:0.0.8" targetNamespace="urn:SID:0.0.8" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>Imported SICD types.</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="SICDTypes.xsd"/>
	<xs:complexType name="datetype">
		<xs:simpleContent>
			<xs:extension base="xs:date">
				<xs:attribute name="class" type="xs:string" use="required" fixed="xs:date"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="lutlisttype">
		<xs:list itemType="xs:int"/>
	</xs:simpleType>
	<xs:simpleType name="tripletype">
		<xs:annotation>
			<xs:documentation>Any comma int triple.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]+),([0-9]+),([0-9]+)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="lut3listtype">
		<xs:list itemType="tripletype"/>
	</xs:simpleType>
	<xs:complexType name="lookup3tabletype">
		<xs:simpleContent>
			<xs:extension base="lut3listtype">
				<xs:attribute name="size" type="xs:int" use="required">
					<xs:annotation>
						<xs:documentation>Size of LUT</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="lookuptabletype">
		<xs:simpleContent>
			<xs:extension base="lutlisttype">
				<xs:attribute name="size" type="xs:int" use="required">
					<xs:annotation>
						<xs:documentation>Size of LUT.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="colordisplayremaptype">
		<xs:annotation>
			<xs:documentation>Object representing that the data requires color display.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RemapLUT" type="lookup3tabletype">
				<xs:annotation>
					<xs:documentation>LUT-base remap indicating that the color display is done through index-based color.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="monochromedisplayremaptype">
		<xs:annotation>
			<xs:documentation>This remap works by taking the input space and using the LUT to map it to a log space (for 8-bit only).
From the log space the C0 and Ch fields are applied to get to display-ready density space.
The density should then be rendered by the TTC and monitor comp.
This means that the default DRA should not apply anything besides the clip points.
If a different contrast/brightness is applied it should be done through modification of the clip points via DRA.
Examples:
Remap                LUT                    Clips
=============================
PEDF            PEDF->D                0,255
LLG            LLG->A->LogA        C0,Ch
Log                N/A                         C0,Ch
NRL                N/A                        0,255 (Supposed to be display ready)
            </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RemapType" type="stringtype">
				<xs:annotation>
					<xs:documentation>Name of remap applied (for informational purposes only).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RemapLUT" type="lookuptabletype" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Lookup table for remap to log amplitude for display.  Used during the "Product Generation Option" portion of the SIPS display chain. Required for 8-bit data. Not to be used for 16-bit data.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RemapParameter" type="parametertype" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Textual remap parameter. Filled based upon remap type (for informational purposes only).  For example, if the data is linlog encoded a RemapParameter could be used to describe any amplitude scaling that was performed prior to linlog encoding the data.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="magnificationmethodtype">
		<xs:annotation>
			<xs:documentation>Default ELT magnification method for this data.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="stringtype">
				<xs:enumeration value="NEAREST_NEIGHBOR"/>
				<xs:enumeration value="BILINEAR"/>
				<xs:enumeration value="LAGRANGE"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="decimationmethodtype">
		<xs:annotation>
			<xs:documentation>Default ELT decimation method for this data. Also used as default for reduced resolution dataset generation (if applicable).</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="stringtype">
				<xs:enumeration value="NEAREST_NEIGHBOR"/>
				<xs:enumeration value="BILINEAR"/>
				<xs:enumeration value="BRIGHTEST_PIXEL"/>
				<xs:enumeration value="LAGRANGE"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="monitorcompensationappliedtype">
		<xs:annotation>
			<xs:documentation>Describes monitor compensation that may have been applied to the product during processing.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Gamma" type="doubletype">
				<xs:annotation>
					<xs:documentation>Gamma value for monitor compensation pre-applied to the image.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="XMin" type="doubletype">
				<xs:annotation>
					<xs:documentation>Xmin value for monitor compensation pre-applied to the image.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="remapchoicetype">
		<xs:choice>
			<xs:element name="ColorDisplayRemap" type="colordisplayremaptype">
				<xs:annotation>
					<xs:documentation>Information for proper color display of the data.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MonochromeDisplayRemap" type="monochromedisplayremaptype">
				<xs:annotation>
					<xs:documentation>Information for proper monochrome display of the data.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="drahistogramoverridestype">
		<xs:sequence>
			<xs:element name="ClipMin" type="integertype">
				<xs:annotation>
					<xs:documentation>Suggested override for the lower end-point of the display histogram in the ELT DRA application. Referred to as Pmin in SIPS documentation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClipMax" type="integertype">
				<xs:annotation>
					<xs:documentation>Suggested override for the upper end-point of the display histogram in the ELT DRA application. Referred to as Pmax in SIPS documentation.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="productdisplaytype">
		<xs:annotation>
			<xs:documentation>Type for describing proper display of the derived product.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PixelType" type="pixeltype">
				<xs:annotation>
					<xs:documentation>Defines the pixel type, based on enumeration and definition in Design and Exploitation document.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RemapInformation" type="remapchoicetype" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Information regarding the encoding of the pixel data. Used for 8-bit pixel types.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MagnificationMethod" type="magnificationmethodtype" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Recommended ELT magnification method for this data.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DecimationMethod" type="decimationmethodtype" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Recommended ELT decimation method for this data. Also used as default for reduced resolution dataset generation (if applicable).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DRAHistogramOverrides" type="drahistogramoverridestype" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Recommended ELT DRA overrides.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MonitorCompensationApplied" type="monitorcompensationappliedtype" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Describes monitor compensation that may have been applied to the product during processing.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DisplayExtension" type="parametertype" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensible parameters used to support profile-specific needs related to product display.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="referencepointtype">
		<xs:annotation>
			<xs:documentation>The reference point of the plane.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ECEF" type="xyztype">
				<xs:annotation>
					<xs:documentation>The XYZ ECEF (units = m) reference point.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Point" type="rowcoldoubletype">
				<xs:annotation>
					<xs:documentation>The row and column (units = pixels) which maps to the ECEF point.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Used for implementation specific signifier for the reference point.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="productplanetype">
		<xs:annotation>
			<xs:documentation>Plane definition for the product.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RowUnitVector" type="xyztype">
				<xs:annotation>
					<xs:documentation>Unit vector of the plane defined to be aligned in the increasing row direction of the product. (Defined as Rpgd in Design and Exploitation document)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ColUnitVector" type="xyztype">
				<xs:annotation>
					<xs:documentation>Unit vector of the plane defined to be aligned in the increasing column direction of the product. (Defined as Cpgd in Design and Exploitation document)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="planeprojectiontype">
		<xs:annotation>
			<xs:documentation>Planar representation of the pixel grid</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ProductPlane" type="productplanetype">
				<xs:annotation>
					<xs:documentation>Plane definition for the product.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReferencePoint" type="referencepointtype">
				<xs:annotation>
					<xs:documentation>The reference point of the plane. (Defined as Ppgd in Design and Exploitation document)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SampleSpacing" type="rowcoldoubletype">
				<xs:annotation>
					<xs:documentation>Spacing (units = m) between pixels in the row and column directions.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="geographicprojectiontype">
		<xs:annotation>
			<xs:documentation>Geographic mapping of the pixel grid.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ReferencePoint" type="referencepointtype">
				<xs:annotation>
					<xs:documentation>Reference point of the geographic grid. (Pggd in Design and Exploitation document)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SampleSpacing" type="rowcoldoubletype">
				<xs:annotation>
					<xs:documentation>Pixel spacing (units = arc seconds).  Row is associated with latitude. Column is associate with longitude.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="cylindricalprojectiontype">
		<xs:annotation>
			<xs:documentation>Cylindrical mapping of the pixel grid.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ReferencePoint" type="referencepointtype">
				<xs:annotation>
					<xs:documentation>Reference point of the cylindrical grid. (Pcgd in Design and Exploitation document)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SampleSpacing" type="rowcoldoubletype">
				<xs:annotation>
					<xs:documentation>Pixel spacing (units = meters)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurvatureRadius" type="doubletype" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Radius of Curvature defined at scene center.  If not present, the radius of curvature will be derived based upon the equations provided in the Design and Exploitation Document</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="measurementtype">
		<xs:annotation>
			<xs:documentation>Geometric SAR information required for measurement/geolocation.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="PlaneProjection" type="planeprojectiontype">
					<xs:annotation>
						<xs:documentation>Planar representation of the pixel grid referred to as PGD in the Design and Exploitation document.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="GeographicProjection" type="geographicprojectiontype">
					<xs:annotation>
						<xs:documentation>Geographic mapping of the pixel grid referred to as GGD in the Design and Exploitation document.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CylindricalProjection" type="cylindricalprojectiontype">
					<xs:annotation>
						<xs:documentation>Cylindrical mapping of the pixel grid referred to as CGD in the Design and Exploitation document.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="PixelFootprint" type="rowcolinttype">
				<xs:annotation>
					<xs:documentation>Size of the image.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ARPPoly" type="xyzpolytype">
				<xs:annotation>
					<xs:documentation>Center of aperture polynomial (units = m) based upon time into the collect.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimeCOAPoly" type="poly2dtype">
				<xs:annotation>
					<xs:documentation>Time (units = seconds) at which center of aperture for a given pixel coordinate in the product occurs.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rangeazimuthtype">
		<xs:annotation>
			<xs:documentation>Represents range and azimuth</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Range" type="doubletype">
				<xs:annotation>
					<xs:documentation>Range dimension.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Azimuth" type="doubletype">
				<xs:annotation>
					<xs:documentation>Azimuth dimension.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="acheivedresolutiontype">
		<xs:annotation>
			<xs:documentation>Finest achievable resolution parameters.</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
	</xs:complexType>
	<xs:complexType name="pixeltype">
		<xs:simpleContent>
			<xs:restriction base="stringtype">
				<xs:enumeration value="MONO8I"/>
				<xs:enumeration value="MONO8LU"/>
				<xs:enumeration value="MONO16I"/>
				<xs:enumeration value="RGB8LU"/>
				<xs:enumeration value="RGB24I"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="classificationguidancetype">
		<xs:annotation>
			<xs:documentation>Classification guidance authority (only if file is classified).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Authority" type="stringtype">
				<xs:annotation>
					<xs:documentation>Classifying authority.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Date" type="datetype">
				<xs:annotation>
					<xs:documentation>Date that the authority was provided. Specified in YYYY-MM-DD.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="productclassificationtype">
		<xs:annotation>
			<xs:documentation>The overall classification of the product.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Level" type="stringtype">
				<xs:annotation>
					<xs:documentation>The classification level (examples: Unclassified, Secret, Top Secret, etc.).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SecurityMarkings" type="stringtype" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Specialized control markings (if required).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Guidance" type="classificationguidancetype" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Classification guidance authority (only if file is classified).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="processorinformationtype">
		<xs:sequence>
			<xs:element name="Application" type="stringtype">
				<xs:annotation>
					<xs:documentation>Software application name and version number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProcessingDateTime" type="dateTimetype">
				<xs:annotation>
					<xs:documentation>Date and time defined in Coordinated Universal Time (UTC). The seconds should be followed by a Z to indicate UTC.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Site" type="stringtype">
				<xs:annotation>
					<xs:documentation>Creation location of product.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Profile" type="stringtype" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Product-specific profile applied during product processing.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="productcreationtype">
		<xs:annotation>
			<xs:documentation>Contains general information about product creation.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ProcessorInformation" type="processorinformationtype">
				<xs:annotation>
					<xs:documentation>Details regarding processor.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Classification" type="productclassificationtype">
				<xs:annotation>
					<xs:documentation>The overall classification of the product.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductName" type="stringtype">
				<xs:annotation>
					<xs:documentation>The output product name defined by the processor.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductClass" type="stringtype">
				<xs:annotation>
					<xs:documentation>Class of product. (examples: Dynamic Image, Amplitude Change Detection, Coherent Change Detection, etc.).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductType" type="stringtype" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Type of sub-product. (examples: Frame #, Reference, Match, etc.). This field is only needed if there is a suite of associated products.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductCreationExtension" type="parametertype" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensible parameters used to support profile-specific needs related to product creation.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="footprinttype">
		<xs:sequence>
			<xs:element name="Vertex" minOccurs="4" maxOccurs="4">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Lat" type="doubletype"/>
						<xs:element name="Lon" type="doubletype"/>
					</xs:sequence>
					<xs:attribute name="index" type="xs:int" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="size" type="xs:int" use="required"/>
	</xs:complexType>
	<xs:complexType name="targetinformationtype">
		<xs:sequence>
			<xs:element name="Identifier" type="parametertype" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Target may have one or more identifiers.  Examples: names, BE numbers, etc. Use the "name" attribute to describe what this is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Footprint" type="footprinttype" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Target footprint as defined by polygonal shape.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TargetInformationExtension" type="parametertype" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Generic extension.  Could be used to indicate type of target, terrain, etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="geographicinformationtype">
		<xs:sequence>
			<xs:element name="CountryCode" type="stringtype" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Country identifier for this geographic region.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SecurityInfo" type="stringtype" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies classification level or special handling designators for this geographic region</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GeographicInfoExtension" type="parametertype" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Implementation specific geographic information.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="geographiccoveragetype">
		<xs:sequence>
			<xs:element name="GeoregionIdentifier" type="parametertype" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Identifier for the georegion.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Footprint" type="footprinttype">
				<xs:annotation>
					<xs:documentation>Estimated ground footprint of the product.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="SubRegion" type="geographiccoveragetype" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Used to represent hierarchical decomposition into sub-regions.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="GeographicInfo" type="geographicinformationtype">
					<xs:annotation>
						<xs:documentation>Specifics about the georegion.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="geographicandtargettype">
		<xs:sequence>
			<xs:element name="GeographicCoverage" type="geographiccoveragetype">
				<xs:annotation>
					<xs:documentation>Provides geographic coverage information.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TargetInformation" type="targetinformationtype" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Provides target specific geographic information.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="geometricchiptype">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ChipSize" type="rowcolinttype">
				<xs:annotation>
					<xs:documentation>Size of the chipped product in pixels.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginalUpperLeftCoordinate" type="rowcoldoubletype">
				<xs:annotation>
					<xs:documentation>Upper-left corner with respect to the original product.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginalUpperRightCoordinate" type="rowcoldoubletype">
				<xs:annotation>
					<xs:documentation>Upper-right corner with respect to the original product.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginalLowerLeftCoordinate" type="rowcoldoubletype">
				<xs:annotation>
					<xs:documentation>Lower-left corner with respect to the original product.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginalLowerRightCoordinate" type="rowcoldoubletype">
				<xs:annotation>
					<xs:documentation>Lower-right corner with respect to the original product.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="processingeventtype">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ApplicationName" type="stringtype">
				<xs:annotation>
					<xs:documentation>Application which applied a modification.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AppliedDateTime" type="dateTimetype">
				<xs:annotation>
					<xs:documentation>Date and time defined in Coordinated Universal Time (UTC). The seconds should be followed by a Z to indicate UTC.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InterpolationMethod" type="stringtype" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Type of interpolation applied to the data.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Descriptor" type="parametertype" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Descriptor for the processing event.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="downstreamreprocessingtype">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GeometricChip" type="geometricchiptype" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains information related to downstream chipping of the product.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProcessingEvent" type="processingeventtype" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Contains information related to downstream processing of the product.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="productprocessingtype">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ProcessingModule" type="processingmoduletype" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Processing module to keep track of the name and any parameters associated with the algorithms used to produce the SIDD.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="processingmoduletype">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ModuleName" type="parametertype">
				<xs:annotation>
					<xs:documentation>The name of the algorithm used in processing the product.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="0">
				<xs:element name="ModuleParameter" type="parametertype" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Parameters associated with the algorithm used in processing the product.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ProcessingModule" type="processingmoduletype" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>ProcessingModule is a repeatable structure within itself to create an algorithm as a subset of another algorithm.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="exploitationfeaturesproducttype">
		<xs:annotation>
			<xs:documentation>Metadata regarding the product.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Resolution" type="rowcoldoubletype">
				<xs:annotation>
					<xs:documentation>Uniformly-weighted resolution projected into the Earth Tangent Plane (ETP).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="North" type="neg180to180type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Counter-clockwise angle from increasing row direction to north at the center of the image.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="exploitationfeaturestype">
		<xs:annotation>
			<xs:documentation>Computed metadata regarding the collect.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Collection" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Metadata regarding one of the input collections.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="exploitationfeaturescollectiontype">
							<xs:attribute name="identifier" type="xs:string" use="required"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Product" type="exploitationfeaturesproducttype">
				<xs:annotation>
					<xs:documentation>Metadata regarding the product.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="anglemagnitudetype">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Angle" type="neg180to180type"/>
			<xs:element name="Magnitude" type="doubletype"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="inputroitype">
		<xs:annotation>
			<xs:documentation>ROI representing portion of input data used to make this product.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Size" type="rowcolinttype">
				<xs:annotation>
					<xs:documentation>Number of rows and columns extracted from the input.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpperLeft" type="rowcolinttype">
				<xs:annotation>
					<xs:documentation>The upper-left pixel extracted from the input.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="txrcvpolarizationtype">
		<xs:sequence>
			<xs:element name="TxPolarization" type="polarizationtype">
				<xs:annotation>
					<xs:documentation>Polarization transmit type</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RcvPolarization" type="neg180to180type">
				<xs:annotation>
					<xs:documentation>Angle from transmit to receive polarization defined at center of aperture.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="exploitationfeaturescollectioninformationtype">
		<xs:annotation>
			<xs:documentation>General collection information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SensorName" type="stringtype">
				<xs:annotation>
					<xs:documentation>The name of the sensor.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RadarMode" type="radarmodetype">
				<xs:annotation>
					<xs:documentation>Radar collection mode.  The ModeType refers to the collection type [SPOTLIGHT, STRIPMAP, DYNAMIC STRIPMAP].  The optional ModeID is used to represent system-specific mode identifiers.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CollectionDateTime" type="dateTimetype">
				<xs:annotation>
					<xs:documentation>Collection date and time defined in Coordinated Universal Time (UTC). The seconds should be followed by a Z to indicate UTC.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LocalDateTime" type="dateTimetype" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date and time defined in local time.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CollectionDuration" type="doubletype">
				<xs:annotation>
					<xs:documentation>The duration of the collection (units = seconds).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Resolution" type="rangeazimuthtype">
				<xs:annotation>
					<xs:documentation>Uniformly-weighted resolution (range and azimuth) processed in the slant plane.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InputROI" type="inputroitype" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ROI representing portion of input data used to make this product.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Polarization" type="txrcvpolarizationtype" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Transmit and receive polarization.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="exploitationfeaturescollectiongeometrytype">
		<xs:annotation>
			<xs:documentation>Key geometry parameters independent of product processing.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Azimuth" type="doubletype" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Angle clockwise from north indicating the ETP line of sight vector.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Slope" type="zeroto90type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Angle between the ETP at scene center and the range vector perpendicular to the direction of motion.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Squint" type="neg180to180type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Angle from the ground track to platform velocity vector at nadir. Left-look is negative, right-look is positive.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Graze" type="zeroto90type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Angle between the ETP and the line of sight vector.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tilt" type="neg180to180type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Angle between the ETP and the cross range vector. Also known as the twist angle.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="exploitationfeaturescollectionphenomenologytype">
		<xs:annotation>
			<xs:documentation>Phenomenology related to both the geometry and the final product processing.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Shadow" type="anglemagnitudetype" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The phenomon where vertical objects occlude radar energy.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Layover" type="anglemagnitudetype" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The phenomenon where vertical objects appear as ground objects with the same range/range rate.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MultiPath" type="neg180to180type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This is a range dependent phenomenon which describes the energy from a single scatter returned to the radar via more than one path and results in a nominally constant direction in the ETP.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GroundTrack" type="neg180to180type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Counter-clockwise angle from increasing row direction to ground track at the center of the image.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="exploitationfeaturescollectiontype">
		<xs:sequence>
			<xs:element name="Information" type="exploitationfeaturescollectioninformationtype">
				<xs:annotation>
					<xs:documentation>General collection information.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Geometry" type="exploitationfeaturescollectiongeometrytype" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Key geometry parameters independent of product processing.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Phenomenology" type="exploitationfeaturescollectionphenomenologytype" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Phenomenology related to both the geometry and the final product processing.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SIDD">
		<xs:annotation>
			<xs:documentation>Root element of the SIDD document.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ProductCreation" type="productcreationtype">
					<xs:annotation>
						<xs:documentation>Information related to processor, classification, and product type.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Display" type="productdisplaytype">
					<xs:annotation>
						<xs:documentation>Contains information on the parameters needed to display the product in an exploitation tool.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="GeographicAndTarget" type="geographicandtargettype">
					<xs:annotation>
						<xs:documentation>Contains generic and extensible targeting and geographic region information.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Measurement" type="measurementtype">
					<xs:annotation>
						<xs:documentation>Contains the metadata necessary for performing measurements.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ExploitationFeatures" type="exploitationfeaturestype">
					<xs:annotation>
						<xs:documentation>Computed metadata regarding the input collections and final product.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ProductProcessing" type="productprocessingtype" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Contains metadata related to algorithms used during product generation.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DownstreamReprocessing" type="downstreamreprocessingtype" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Contains metadata related to downstream processing of the product.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ErrorStatistics" type="errorstatisticstype" minOccurs="0">
					<xs:annotation>
						<xs:documentation>See SICD documentation for metadata definitions.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Radiometric" type="radiometrictype" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Radiometric information about the product.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
