six/modules/c++/six.sidd/conf/schema/SIDD_V3.0.0_ISM-v201609/external/ISM-v201609/Schema/ARH/IC-ARH.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:arh="urn:us:gov:ic:arh"
	targetNamespace="urn:us:gov:ic:arh" xmlns:ism="urn:us:gov:ic:ism" xmlns:ntk="urn:us:gov:ic:ntk"
	xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xhtml="http://www.w3.org/1999/xhtml-StopBrowserRendering"
	attributeFormDefault="qualified" elementFormDefault="qualified" xml:lang="en"
	ism:resourceElement="true" ism:createDate="2012-05-10" ism:DESVersion="201609"
	ism:classification="U" ism:ownerProducer="USA" version="3">
	<xs:annotation>
		<xs:documentation>
			<xhtml:h1 ism:ownerProducer="USA" ism:classification="U">Intelligence Community Technical Specification  
				XML Data Encoding Specification for Access Rights and Handling (ARH.XML)</xhtml:h1>
		</xs:documentation>

		<xs:documentation>
			<xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Notices</xhtml:h2>
			<xhtml:p ism:ownerProducer="USA" ism:classification="U">
				Distribution Notice: 
           This document has been approved for Public Release and is available for use without restriction.
       				
			</xhtml:p>
		</xs:documentation>
		<xs:documentation>
			<xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Description</xhtml:h2>
			<xhtml:p ism:ownerProducer="USA" ism:classification="U">
				W3C XML Schema for the XML Data Encoding Specification 
				for Access Rights and Handling (ARH.XML).  
			</xhtml:p>
		</xs:documentation>
		<xs:documentation>
			<xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Introduction</xhtml:h2>
			<xhtml:p ism:ownerProducer="USA" ism:classification="U">
				This XML Schema file is one component of the XML Data Encoding 
				Specification (DES). Please see the document titled 
				<xhtml:i>
					<xhtml:a href="../../Documents/ARH/DesArhXml.pdf">XML Data Encoding Specification for Access Rights and Handling</xhtml:a>
				</xhtml:i> 
				for a complete description of the encoding as well as list
				of all components.  
			</xhtml:p>
			<xhtml:p ism:ownerProducer="USA" ism:classification="U">
				It is envisioned that this schema or its components, as well as other
				parts of the DES may be overridden for localized implementations. 
				Therefore, permission to use, copy, modify and distribute this XML 
				Schema and the other parts of the DES for any purpose is hereby 
				granted in perpetuity.
			</xhtml:p>
			<xhtml:p ism:ownerProducer="USA" ism:classification="U">
				Please reference the preceding two paragraphs in all copies or
				variations. The developers make no representation about the
				suitability of the schema or DES for any purpose. It is provided 
				"as is" without expressed or implied warranty.
			</xhtml:p>
			<xhtml:p ism:ownerProducer="USA" ism:classification="U">
				If you modify this XML Schema in any way label your schema
				as a variant of ARH.XML.
			</xhtml:p>
			<xhtml:p ism:ownerProducer="USA" ism:classification="U">
				Please direct all questions, bug reports,or suggestions for changes
				to the points of contact identified in the document referenced above.
			</xhtml:p>
		</xs:documentation>
		<xs:documentation>
			<xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Implementation Notes</xhtml:h2>
			<xhtml:p ism:ownerProducer="USA" ism:classification="U"> The document elements for ARH are: 
				<xhtml:ul>
					<xhtml:li ism:ownerProducer="USA" ism:classification="U">
						<xhtml:a href="IC-ARH_xsd_Element_arh_ExternalSecurity.html#ExternalSecurity">arh:ExternalSecurity</xhtml:a>
					</xhtml:li>
					<xhtml:li ism:ownerProducer="USA" ism:classification="U">
						<xhtml:a href="IC-ARH_xsd_Element_arh_Security.html#Security">arh:Security</xhtml:a>
					</xhtml:li>
				</xhtml:ul>
			</xhtml:p>
		</xs:documentation>
		<xs:documentation>
			<xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Creators</xhtml:h2>
			<xhtml:p ism:ownerProducer="USA" ism:classification="U">Office of the Director of National Intelligence
				Intelligence Community Chief Information Officer</xhtml:p>
		</xs:documentation>
	</xs:annotation>
	<xs:import namespace="urn:us:gov:ic:ism" schemaLocation="../ISM/IC-ISM.xsd"/>
	<xs:import namespace="urn:us:gov:ic:ntk" schemaLocation="../NTK/IC-NTK.xsd"/>

	<xs:element name="Security" type="arh:SecurityType">
		<xs:annotation>
			<xs:documentation>
				<xhtml:p ism:classification="U" ism:ownerProducer="USA"> Used for expressing the
					access rights and handling information for a data object that is present in the
					same instant document or is the instance document containing this element.
				</xhtml:p>
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="ExternalSecurity" type="arh:ExternalSecurityType">
		<xs:annotation>
			<xs:documentation>
				<xhtml:p ism:classification="U" ism:ownerProducer="USA"> Used for expressing the
					access rights and handling information for a data object that is external to
					instant document containing this element. </xhtml:p>
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:attribute name="DESVersion" type="ism:ShortStringType" fixed="3">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				<xhtml:p ism:ownerProducer="USA" ism:classification="U"> The version number of the DES </xhtml:p>
			</xs:documentation>
		</xs:annotation>
	</xs:attribute>

	<xs:complexType name="SecurityType">
		<xs:annotation>
			<xs:documentation>
				<xhtml:p ism:classification="U" ism:ownerProducer="USA"> A type for expressing the
					access rights and handling information for a data object that is internal to
					instant document or the instance document itself. </xhtml:p>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ntk:Access" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="ism:NoticeList" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="arh:ResourceNodeAttributeGroup"/>
	</xs:complexType>

	<xs:complexType name="ExternalSecurityType">
		<xs:annotation>
			<xs:documentation>
				<xhtml:p ism:classification="U" ism:ownerProducer="USA"> A type for expressing the
					access rights and handling information for a data object that is external to
					instant document. </xhtml:p>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ntk:ExternalAccess" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="ism:NoticeExternalList" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="arh:ExternalResourceNodeAttributeGroup"/>
	</xs:complexType>

	<xs:attributeGroup name="ExternalResourceNodeAttributeGroup">
		<xs:annotation>
			<xs:documentation>
				<xhtml:p ism:ownerProducer="USA" ism:classification="U"> An attribute group to be
					used on the element that represents the resource node of an external document.
					This node's ISM attributes would be used to generate banner marks and the E.O.
					13526 classification authority block.</xhtml:p>
			</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="ism:SecurityAttributesGroup"/>
		<xs:attribute ref="ism:DESVersion" use="optional"/>
		<xs:attribute ref="ism:ISMCATCESVersion" use="optional"/>
		<xs:attribute ref="ntk:DESVersion" use="optional"/>
		<xs:attribute ref="ism:noticeType"/>
		<xs:attribute ref="ism:noticeDate"/>
		<xs:attribute ref="ism:noticeReason"/>
		<xs:attribute ref="ism:unregisteredNoticeType"/>
		<xs:attribute ref="arh:DESVersion"/>
		<xs:attribute ref="ism:excludeFromRollup" fixed="true" use="required"/>
		<xs:attributeGroup ref="ism:ISMResourceAttributeOptionGroup"/>
	</xs:attributeGroup>

	<xs:attributeGroup name="ResourceNodeAttributeGroup">
		<xs:annotation>
			<xs:documentation>
				<xhtml:p ism:ownerProducer="USA" ism:classification="U"> An attribute group to be
					used on the element that represents the resource node of an instance document.
					This node's ISM attributes would be used to generate banner marks and the E.O.
					13526 classification authority block.</xhtml:p>
			</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="ism:SecurityAttributesGroup"/>
		<xs:attribute ref="ism:DESVersion" use="optional"/>
		<xs:attribute ref="ism:ISMCATCESVersion" use="optional"/>
		<xs:attribute ref="ntk:DESVersion" use="optional"/>
		<xs:attribute ref="ism:noticeType"/>
		<xs:attribute ref="ism:noticeDate"/>
		<xs:attribute ref="ism:noticeReason"/>
		<xs:attribute ref="ism:unregisteredNoticeType"/>
		<xs:attribute ref="arh:DESVersion"/>
		<xs:attributeGroup ref="ism:ISMResourceAttributeOptionGroup"/>
	</xs:attributeGroup>
</xs:schema>
