six/modules/c++/six.sidd/conf/schema/SIDD_V3.0.0_ISM-v201609/external/ISM-v201609/CVE/CveSchema/CVEXml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:cve="urn:us:gov:ic:cve" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:sch="http://purl.oclc.org/dsdl/schematron"
           xmlns:ism="urn:us:gov:ic:ism"
           elementFormDefault="qualified"
           targetNamespace="urn:us:gov:ic:cve"
           version="2.1">
   <xs:annotation>
      <xs:documentation/>
   </xs:annotation>
   <xs:import namespace="urn:us:gov:ic:ism" schemaLocation="./ISM/IC-ISM.xsd"/>
   <xs:attribute name="codespace" type="xs:string">
      <xs:annotation>
         <xs:documentation/>
      </xs:annotation>
   </xs:attribute>
   <xs:attributeGroup name="PocAttributeGroup">
      <xs:attributeGroup ref="ism:POCAttributeGroup"/>
      <xs:attributeGroup ref="ism:SecurityAttributesGroup"/>
   </xs:attributeGroup>
   <xs:element name="CVE">
      <xs:annotation>
         <xs:documentation/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="cve:IRM" maxOccurs="1"/>
            <xs:element maxOccurs="1" ref="cve:Enumeration"/>
         </xs:sequence>
         <xs:attribute name="CVEVersion" use="required">
            <xs:annotation>
               <xs:documentation xml:lang="en"/>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:minInclusive value="2"/>
                  <xs:maxExclusive value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
         <xs:attributeGroup ref="ism:ISMRootNodeAttributeGroup"/>
         <xs:attributeGroup ref="ism:ResourceNodeAttributeGroup"/>
         <xs:attribute name="specVersion">
            <xs:annotation>
               <xs:documentation>
                  The version of the specification that the CVE belongs to.
               </xs:documentation>
               <xs:appinfo>
                  <sch:pattern>
                     <sch:rule context="*[@specVersion]">
                        <sch:assert test="@CVEVersion &gt;= 2.1">
                           The attribute specVersion can only be used with CVE Schema version 2.1 or greater.
                        </sch:assert>
                     </sch:rule>
                  </sch:pattern>
                  <sch:pattern>
                     <sch:rule context="*[@CVEVersion &gt;= 2.1]">
                        <sch:assert test="@specVersion">
                           The attribute specVersion is required with CVE Schema version 2.1 or greater.
                        </sch:assert>
                     </sch:rule>
                  </sch:pattern>
               </xs:appinfo>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="(\d{6}(\.\d{6})?(\-.{1,23})?|distSpecVersionReplace)"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="IRM">
      <xs:annotation>
         <xs:documentation/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="cve:URN"/>
            <xs:element ref="cve:Title" minOccurs="0"/>
            <xs:element ref="cve:Description" minOccurs="0"/>
            <xs:element ref="cve:Created"/>
            <xs:element ref="cve:Source" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="PointOfContact" type="cve:ContactInfoType" maxOccurs="unbounded"/>
         </xs:sequence>
         <xs:attribute type="xs:integer" name="documentationSortOrder" use="optional"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="Created" type="cve:CombinedDateType"/>
   <xs:element name="Enumeration">
      <xs:annotation>
         <xs:documentation/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="cve:Term"/>
         </xs:sequence>
         <xs:attribute name="multivalue" type="xs:boolean" use="required">
            <xs:annotation>
               <xs:documentation/>
            </xs:annotation>
         </xs:attribute>
         <xs:attributeGroup ref="ism:SecurityAttributesGroup"/>
      </xs:complexType>
      <xs:unique name="TermValueUnique">
         <xs:selector xpath=".//cve:Value"/>
         <xs:field xpath="."/>
      </xs:unique>
   </xs:element>
   <xs:element name="Term">
      <xs:annotation>
         <xs:documentation/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="cve:Value"/>
            <xs:element ref="cve:Description">
               <xs:annotation>
                  <xs:documentation/>
               </xs:annotation>
            </xs:element>
         </xs:sequence>
         <xs:attribute use="optional" ref="cve:codespace"/>
         <xs:attribute use="optional" name="deprecated" type="xs:date">
            <xs:annotation>
               <xs:documentation/>
            </xs:annotation>
         </xs:attribute>
         <xs:attributeGroup ref="ism:SecurityAttributesGroup"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="Value">
      <xs:annotation>
         <xs:documentation/>
      </xs:annotation>
      <xs:complexType>
         <xs:simpleContent>
            <xs:extension base="xs:token">
               <xs:attribute use="optional" name="regularExpression" type="xs:boolean">
                  <xs:annotation>
                     <xs:documentation/>
                  </xs:annotation>
               </xs:attribute>
               <xs:attributeGroup ref="ism:SecurityAttributesGroup"/>
            </xs:extension>
         </xs:simpleContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="URN">
      <xs:annotation>
         <xs:documentation xml:lang="en"/>
      </xs:annotation>
      <xs:simpleType>
         <xs:restriction base="xs:anyURI">
            <xs:pattern value="urn:[A-Za-z0-9][A-Za-z0-9:\-]+"/>
         </xs:restriction>
      </xs:simpleType>
   </xs:element>
   <xs:element name="Title" type="ism:ShortStringWithSecurityType">
      <xs:annotation>
         <xs:documentation xml:lang="en"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="Description" type="ism:LongStringWithSecurityType">
      <xs:annotation>
         <xs:documentation xml:lang="en"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="Source">
      <xs:annotation>
         <xs:documentation xml:lang="en"/>
      </xs:annotation>
      <xs:complexType>
         <xs:simpleContent>
            <xs:extension base="xs:string">
               <xs:attribute name="href" type="xs:anyURI" use="optional">
                  <xs:annotation>
                     <xs:documentation xml:lang="en"/>
                  </xs:annotation>
               </xs:attribute>
               <xs:attributeGroup ref="ism:SecurityAttributesGroup"/>
            </xs:extension>
         </xs:simpleContent>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="ContactInfoType">
      <xs:annotation>
         <xs:appinfo xml:lang="en"/>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Name" type="ism:ShortStringType" maxOccurs="unbounded"/>
         <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element name="Phone" type="ism:ShortStringType" maxOccurs="unbounded">
               <xs:annotation>
                  <xs:appinfo xml:lang="en"/>
               </xs:annotation>
            </xs:element>
            <xs:element name="Email" type="ism:ShortStringType" maxOccurs="unbounded">
               <xs:annotation>
                  <xs:appinfo xml:lang="en"/>
               </xs:annotation>
            </xs:element>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="cve:PocAttributeGroup"/>
   </xs:complexType>
   <xs:simpleType name="CombinedDateType">
      <xs:annotation>
         <xs:documentation xml:lang="en"/>
      </xs:annotation>
      <xs:union memberTypes="xs:dateTime cve:DateHourMinType xs:date xs:gYearMonth xs:gYear"/>
   </xs:simpleType>
   <xs:simpleType name="DateHourMinType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}(Z|[\-\+][0-9]{2}:[0-9]{2})?"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>