six/modules/c++/six.sidd/conf/schema/external/ISM-v201609/Schema/USAgency/USAgency.xsd

<?xml version="1.0" encoding="UTF-8"?><?oxygen SCHSchema="../../Schematron/ISM/ISM_XML.sch"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ism="urn:us:gov:ic:ism"
	xmlns:usagency="urn:us:gov:ic:usagency" xmlns:uaa="urn:us:gov:ic:cvenum:usagency:agencyacronym"
	xmlns:usgaa="urn:us:gov:ic:cvenum:usagency:usgovagencyacronym"
	xmlns:xhtml="http://www.w3.org/1999/xhtml-StopBrowserRendering" targetNamespace="urn:us:gov:ic:usagency"
	attributeFormDefault="qualified" elementFormDefault="qualified" xml:lang="en"
	ism:resourceElement="true" ism:createDate="2013-05-07" ism:DESVersion="201609.201707"
	ism:ISMCATCESversion="201709" ism:classification="U" ism:ownerProducer="USA"
	version="201703.201802">

	<xs:annotation>
		<xs:documentation>
			<xhtml:h1 ism:ownerProducer="USA" ism:classification="U">Intelligence Community
				Technical Specification CVE Encoding Specification for US Agency Acronyms
				(USAgency.CES)</xhtml:h1>
		</xs:documentation>

		<xs:documentation>
			<xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Notices</xhtml:h2>
			<xhtml:p ism:ownerProducer="USA" ism:classification="U"> Distribution Notice: 
           This document has been approved for Public Release and is available for use without restriction.
       
			</xhtml:p>
		</xs:documentation>
		<xs:documentation>
			<xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Description</xhtml:h2>
			<xhtml:p ism:ownerProducer="USA" ism:classification="U"> W3C XML Schema for the CVE
				Encoding Specification for US Agency Acronyms (USAgency.CES). </xhtml:p>
		</xs:documentation>
		<xs:documentation>
			<xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Introduction</xhtml:h2>
			<xhtml:p ism:ownerProducer="USA" ism:classification="U"> This XML Schema file is one
				component of the CVE Encoding Specification (CES). Please see the document titled <xhtml:i>
					<xhtml:a href="../../Documents/USAgency/CesUSAgencyXml.pdf">CVE Encoding
						Specification for US Agency Acronyms</xhtml:a>
				</xhtml:i> for a complete description of the encoding as well as list of all
				components. </xhtml:p>
			<xhtml:p ism:ownerProducer="USA" ism:classification="U"> It is envisioned that this
				schema or its components, as well as other parts of the CES may be overridden for
				localized implementations. Therefore, permission to use, copy, modify and distribute
				this XML Schema and the other parts of the CES for any purpose is hereby granted in
				perpetuity. </xhtml:p>
			<xhtml:p ism:ownerProducer="USA" ism:classification="U"> Please reference the preceding
				two paragraphs in all copies or variations. The developers make no representation
				about the suitability of the schema or CES for any purpose. It is provided "as is"
				without expressed or implied warranty. </xhtml:p>
			<xhtml:p ism:ownerProducer="USA" ism:classification="U"> If you modify this XML Schema
				in any way label your schema as a variant of USAgency.CES. </xhtml:p>
			<xhtml:p ism:ownerProducer="USA" ism:classification="U"> Please direct all questions,
				bug reports,or suggestions for changes to the points of contact identified in the
				document referenced above. </xhtml:p>
		</xs:documentation>
		<xs:documentation>
			<xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Implementation Notes</xhtml:h2>
			<xhtml:p ism:ownerProducer="USA" ism:classification="U"> No implementation notes at this
				time. </xhtml:p>
		</xs:documentation>
		<xs:documentation>
			<xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Creators</xhtml:h2>
			<xhtml:p ism:ownerProducer="USA" ism:classification="U">Office of the Director of
				National Intelligence Intelligence Community Chief Information Officer</xhtml:p>
		</xs:documentation>
	</xs:annotation>

	<!--***************************************************-->
	<xs:import namespace="urn:us:gov:ic:cvenum:usagency:agencyacronym"
		schemaLocation="./CVEGenerated/CVEnumUSAgencyAcronym.xsd"/>

	<xs:import namespace="urn:us:gov:ic:cvenum:usagency:usgovagencyacronym"
		schemaLocation="./CVEGenerated/CVEnumUSGOVAgencyAcronym.xsd"/>
	<!--***************************************************-->

	<xs:attribute name="CESVersion">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				<xhtml:p ism:ownerProducer="USA" ism:classification="U">The version number of the specification. 
					This attribute is intended for processing systems to determine the appropriate versions of 
					Schema, Schematron, and CVE values for validation and interpretation of an instance document. 
				</xhtml:p>
				<xhtml:p ism:ownerProducer="USA" ism:classification="U">If there are multiple of this attribute 
					specified in an instance document, the first one in document order is the one that will 
					apply to the entire document. Document order is 
					defined in <xhtml:a href="https://www.w3.org/TR/xpath-datamodel/#document-order">https://www.w3.org/TR/xpath-datamodel/#document-order</xhtml:a>
				</xhtml:p>
			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[0-9]{6}(\.[0-9]{6})?(\-.{1,23})?"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>

	<xs:element name="USAgency" type="uaa:CVEnumUSAgencyAcronym">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				<xhtml:p ism:ownerProducer="USA" ism:classification="U"> An element limited to
					allowable agency acronyms for USA. </xhtml:p>
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:attribute name="usagency" type="uaa:CVEnumUSAgencyAcronym">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				<xhtml:p ism:ownerProducer="USA" ism:classification="U"> An attribute limited to
					allowable agency acronyms for USA. </xhtml:p>
			</xs:documentation>
		</xs:annotation>
	</xs:attribute>

	<xs:element name="USGOVAgency" type="usgaa:CVEnumUSGOVAgencyAcronym">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				<xhtml:p ism:ownerProducer="USA" ism:classification="U"> An element limited to
					allowable agency acronyms for USA. </xhtml:p>
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:attribute name="usgovagency" type="usgaa:CVEnumUSGOVAgencyAcronym">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				<xhtml:p ism:ownerProducer="USA" ism:classification="U"> An attribute limited to
					allowable agency acronyms for USA. </xhtml:p>
			</xs:documentation>
		</xs:annotation>
	</xs:attribute>

	<xs:annotation>
		<xs:documentation>
			<xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Formal Change List</xhtml:h2>
			<xhtml:table ism:ownerProducer="USA" ism:classification="U" id="ChangeHistory">
				<xhtml:caption>Change History</xhtml:caption>
				<xhtml:thead>
					<xhtml:tr>
						<th>Version</th>
						<th>Date</th>
						<th>By</th>
						<th>Description</th>
					</xhtml:tr>
				</xhtml:thead>
				<xhtml:tbody>
					<xhtml:tr>
						<xhtml:td>1</xhtml:td>
						<xhtml:td>2013-05-07</xhtml:td>
						<xhtml:td>Clay, ODNI/CIO/ME/DIA</xhtml:td>
						<xhtml:td>
							<xhtml:ul>
								<xhtml:li ism:ownerProducer="USA" ism:classification="U"> Initial
									release of this module</xhtml:li>
							</xhtml:ul>
						</xhtml:td>
					</xhtml:tr>
					<xhtml:tr>
						<xhtml:td>2014-SEP</xhtml:td>
						<xhtml:td>2014-09-16</xhtml:td>
						<xhtml:td>Hodges, ODNI/CIO/ME</xhtml:td>
						<xhtml:td>
							<xhtml:ul>
								<xhtml:li ism:ownerProducer="USA" ism:classification="U">No change
									to XSD.</xhtml:li>
							</xhtml:ul>
						</xhtml:td>
					</xhtml:tr>
					<xhtml:tr>
						<xhtml:td>2015-FEB</xhtml:td>
						<xhtml:td>2015-02-23</xhtml:td>
						<xhtml:td>ODNI/IAD</xhtml:td>
						<xhtml:td>
							<xhtml:ul>
								<xhtml:li ism:ownerProducer="USA" ism:classification="U">No change
									to XSD.</xhtml:li>
							</xhtml:ul>
						</xhtml:td>
					</xhtml:tr>
					<xhtml:tr>
						<xhtml:td>2016-SEP</xhtml:td>
						<xhtml:td>2016-02-17</xhtml:td>
						<xhtml:td>ODNI/IC CIO/IAD</xhtml:td>
						<xhtml:td>
							<xhtml:ul>
								<xhtml:li ism:ownerProducer="USA" ism:classification="U"> The schema
									change logs will no longer be maintained as of the 2016-SEP
									release. The existing change logs will only serve as legacy
									information. For changes to schema as of and after 2016-SEP,
									reference the change history in the CES. </xhtml:li>
							</xhtml:ul>
						</xhtml:td>
					</xhtml:tr>
				</xhtml:tbody>
			</xhtml:table>
		</xs:documentation>
	</xs:annotation>
</xs:schema>
