schema/external/ISM/CVE/ISMCVE/Schema/DDMS/DDMS-XLink-Profile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" elementFormDefault="qualified" attributeFormDefault="qualified">
  <annotation>
    <documentation>
       Authors:
         David Oguns
         
       Description:
         ICDL uses DDMSv2.0 which includes this XLink profile.  MSP4.1(also used by ICDL) uses ICIS-XLink
         profile which is a superset of this one.  Since they both cannot co-exist, and ICIS-XLink.xsd has
         a compatible attributeGroup that is needed, I am including it here and commenting out what was 
         originally here.
    </documentation>
  </annotation>
  <include schemaLocation="ICIS-XLink.xsd"/>
  
  <!--  global attributes  --> 
  <!-- ICDL: Cannot define these elements globally.  They were moved being defined
             locally inside the locatorLink attribute group.  Because of this, 
             attributeFormDefault="qualified" had to be used on the top level.
  <attribute name="href" type="anyURI"/>
  <attribute name="role" type="string"/>
  <attribute name="title" type="string" /> 
  <attribute name="label" type="string" />
  -->

  <attributeGroup name="locatorLink">
    <attribute name="type" type="string" fixed="locator" form="qualified" /> 
    <attribute name="href" type="anyURI" use="required" /> 
    <attribute name="role" type="string" use="optional" /> 
    <attribute name="title" type="string" use="optional" /> 
    <attribute name="label" type="string" use="optional" /> 
  </attributeGroup>
</schema>