schema/external/ISM/CVE/ISMCVE/Schema/DDMS/DDMS-Globals.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Edited to use the new namespace and physical location of ISM otherwise identical to DDMS 2.0 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://metadata.dod.mil/mdr/ns/DDMS/2.0/"
	xmlns:ddms="http://metadata.dod.mil/mdr/ns/DDMS/2.0/" xmlns:ICISM="urn:us:gov:ic:ism"
	xmlns:gml="http://www.opengis.net/gml" xmlns:mdr="http://metadata.dod.mil/"
	xmlns:xlink="http://www.w3.org/1999/xlink"
	targetNamespace="http://metadata.dod.mil/mdr/ns/DDMS/2.0/" elementFormDefault="qualified"
	attributeFormDefault="qualified" version="2.0">
	<xs:annotation>
		<xs:documentation>
			Change Log:
			
				6/05/2007 (J. Pantella) -- Created pursuant to approved CR 2007-1.  See also http://metadata.dod.mil/irs/DDMS/cm/CR/2007/DDMS_CR_2007-1.
				1/3/2007 (J. Pantella) -- Modified version attribute to reflect that this is version 1.4.2.
				7/1/2008 (D. Barclay) -- Made elements "extent" and "medium" optional in type MediaType (per DDMS-CR-2008-6).
				7/15/2008 (J. Pantella) -- Modified security attributes on creator, publisher, and contributor to be optional, added optional security attributes to pointOfContact for consistency across the elements.
				7/15/2008 (J. Pantella) -- Modified version to reflect that this is version 2.0.
				
		</xs:documentation>
	</xs:annotation>
	<xs:import namespace="urn:us:gov:ic:ism" schemaLocation="../ISM/IC-ISM.xsd"/>
	<xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="DDMS-XLink-Profile.xsd"/>
	<!-- Start Global Elements -->
	<xs:element name="identifier" type="CompoundResourceIdentifierType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>An unambiguous reference to a resource within a given context.  {An attribute stores the source of the tag's value}
{sources: DCMI: identifier, v. 004;  IC MSP v. 1.0a:  IdentifierList}  An identifier may be an internal, external, and/or universal identification label for representing a resource by means of a string or number conforming to a formal identification system.  An example of an identifier would be an International Standard Serial Number (ISSN), or a Uniform Resource Locator (URL).  Any type of identifier can be accommodated, so long as the identifier qualifier is specified with the identifier value. See also, DDMS Version 2.0 Identifier.</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="title" type="TitleType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>A name, or names, given to the resource	{from DCMI: title, v. 004}.  The title category must contain at least one title, and may contain subtitles, or supplementary, explanatory titles for use on cover pages and for cataloging and searching.  See also, DDMS Version 2.0 Title.</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="subtitle" type="SubtitleType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>A subtitle may be any form of the title used as a substitute, or it may be an alternative to the formal title of the resource.  See also, DDMS Version 2.0 Title.</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<!-- The following line has been commented out to reduce the complexity of the schema.  Some enterprise tools are unable to handle the way in which the DDMS XML Schema used substitution groups to model the options available for the  publisher/contributor/creator elements. As a result the ProducerRelationType remains defined but is unused in this version of the schema.  The use of the ProducerRelationType remains commented out until such time that the tools are able to adequately handle this usage.-->
	<!-- 	<xs:element name="creator" type="ProducerRelationType"> -->
	<xs:element name="creator" type="creatorType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>A subtitle may be any form of the title used as a substitute, or it may be an alternative to the formal title of the resource. Information about the entity responsible for generating the resource  {Source: DCMI:  creator, v. 004; IC MSP v. 1.0a:  AuthorInfo, POCInfo} 
When a creator is a service or an organization, and not an individual, it is expected that the contact authority (person or organization) for the resource will be listed.  The relations provided in this schema are Organization, Person, Service.  See also, DDMS Version 2.0 Creator.</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="creatorType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>Type used to model the ddms:creator element.</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
		<xs:choice>
			<xs:element ref="Organization"/>
			<xs:element ref="Person"/>
			<xs:element ref="Service"/>
		</xs:choice>
		<xs:attributeGroup ref="ICISM:SecurityAttributesOptionGroup"/>
	</xs:complexType>
	<!-- The following line has been commented out to reduce the complexity of the schema.  Some enterprise tools are unable to handle the way in which the DDMS XML Schema used substitution groups to model the options available for the  publisher/contributor/creator elements. As a result the ProducerRelationType remains defined but is unused in this version of the schema.  The use of the ProducerRelationType remains commented out until such time that the tools are able to adequately handle this usage.-->
	<!-- 	<xs:element name="publisher" type="ProducerRelationType"> -->
	<xs:element name="publisher" type="publisherType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>This category is used to tag the identification of the entity responsible for releasing the data asset—the entity primarily responsible for the intellectual content of the product.  It is intended that this category apply whenever applicable to an organization, as opposed to a person.  Typically, the name of a Publisher should be used to indicate the organization, agency, or domain responsible for the resource.  See also, DDMS Version 2.0 Publisher.</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="publisherType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>Type used to model the ddms:publisher element.</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
		<xs:choice>
			<xs:element ref="Organization"/>
			<xs:element ref="Person"/>
			<xs:element ref="Service"/>
		</xs:choice>
		<xs:attributeGroup ref="ICISM:SecurityAttributesOptionGroup"/>
	</xs:complexType>
	<!-- The following line has been commented out to reduce the complexity of the schema.  Some enterprise tools are unable to handle the way in which the DDMS XML Schema used substitution groups to model the options available for the  publisher/contributor/creator elements. As a result the ProducerRelationType remains defined but is unused in this version of the schema.  The use of the ProducerRelationType remains commented out until such time that the tools are able to adequately handle this usage.-->
	<!--	<xs:element name="contributor" type="ProducerRelationType"> -->
	<xs:element name="contributor" type="contributorType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>Information about an organization, person, or entity, that contributed intellectual content to a resource, other than the publishing organization  {DCMI:  contributor, v. 004; IC MSP v. 1.0a: Contributor} When a creator is a service or an organization, and not an individual, it is expected that the contact authority (person or organization) for the resource will be listed.  The relations provided in this schema are Organization, Person, Service.  See also, DDMS Version 2.0 Contributor.</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="contributorType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>Type used to model the ddms:contributor element.</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
		<xs:choice>
			<xs:element ref="Organization"/>
			<xs:element ref="Person"/>
			<xs:element ref="Service"/>
		</xs:choice>
		<xs:attributeGroup ref="ICISM:SecurityAttributesOptionGroup"/>
	</xs:complexType>
	<!-- The following line has been commented out to reduce the complexity of the schema.  Some enterprise tools are unable to handle the way in which the DDMS XML Schema used substitution groups to model the options available for the  publisher/contributor/creator elements. As a result the ProducerRelationType remains defined but is unused in this version of the schema.  The use of the ProducerRelationType remains commented out until such time that the tools are able to adequately handle this usage.-->
	<!--	<xs:element name="pointOfContact" type="ProducerRelationType"> -->
	<xs:element name="pointOfContact" type="pointOfContactType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>The point of contact, usually a Person, is the entity primarily responsible for accepting inquiries regarding the resource.</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="pointOfContactType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>Type used to model the ddms:pointOfContact element.</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
		<xs:choice>
			<xs:element ref="Organization"/>
			<xs:element ref="Person"/>
			<xs:element ref="Service"/>
		</xs:choice>
		<xs:attributeGroup ref="ICISM:SecurityAttributesOptionGroup"/>
	</xs:complexType>
	<xs:element name="source" type="CompoundSourceIdentifierType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>References to assets or resources from which the tagged data asset is derived.  {Source: DCMI: type, v. 004}
Sources may be derived partially or wholly, and it is recommended that an identifier (such as a string or number from a formal identification system) be used as a reference.  See also, DDMS Version 2.0 Source.</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="language" type="CompoundLanguageIdentifierType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>The primary language of the intellectual content of the resource.  {Source: DCMI: language, v. 004IC MSP v. 1.0a: Language} The most specific in-scope language present (if any) should be specified in this category. See DDMS Version 2.0 Language.</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="description" type="DescriptionType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>An account of the content of the resource.  {Source: DCMI: description, v. 004IC MSP v. 1.0a:  Description} Description may include but is not limited to: an abstract, reference to a graphical representation of content or a free-text account of the content.  See DDMS Version 2.0 Description.</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="dates" type="DatesType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>The date related properties of this resource.  See DDMS Version 2.0 Date.</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="rights" type="RightsType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>Information about rights held in and over the resource. Typically, a rights element will contain a rights management statement for the resource, or reference a service providing such information. Rights information often encompasses Intellectual Property Rights (IPR), Copyright, and various Property Rights. If the rights element is absent, no assumptions can be made about the status of these and other rights with respect to the resource.	See DDMS Version 2.0 Rights. </mdr:definition>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="type" type="CompoundTypeIdentifierType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>The nature or genre fo the content of the resource.  See, DCMI Type Vocabulary [DCMITYPE], which includes, Collection, Dataset, Event Image, InteractiveResource, Service, Software, Sound, Text, PhysicalObject, StillImage, MovingImage.  See DDMS Version 2.0 Type.</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="format" type="FormatType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>The physical or digital manifestation of the resource.  Used to define the medium, extent or duration, and MIME type of the resource.  See DDMS Version 2.0 Format.</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="medium" type="MediumType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>The physical medium or instantiation of the resource.  See also DDMS Version 2.0 Format.  
			</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="mimeType" type="MimeTypeType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>The Internet Media Type [MIME] of the Resource.  See DDMS Version 2.0 Format.  
			</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="extent" type="QualifiedExtentValueType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>A related data size, compression rate, or pixel size (etc.) of the resource.  See also, DDMS Version 2.0 Format.  
			</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="subjectCoverage" type="SubjectCoverageType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>The range of concepts that characterize the subject matter of the resource.  See DDMS Version 2.0 Subject.  
			</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="Subject" type="SubjectType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>Container for the categorical subject and natural language subject classifications.  See also SubjectType.  NOTE: At least one of either Keyword or Category must appear, after one instance of either appears, additional categories must appear before additional keywords.  See DDMS Version 2.0 Subject.  
			</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="category" type="CompoundCategoryIdentifierType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>Specification of the subject matter by a qualified entry from a controlled vocabulary.  See DDMS Version 2.0 Subject.  
			</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="keyword" type="CompoundKeywordIdentifierType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>A natural language indication of the resource's subject matter.  See DDMS Version 2.0 Subject.  
			</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="temporalCoverage" type="TemporalCoverageType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>The subject-matter coverage in terms of one or more periods of time.  That is, an indication of the time period for which the subject of the resource applies.  (E.g. The 50's, or a span of time indicated by a start and end time.)  See DDMS Version 2.0 Temporal Coverage.  
			</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="virtualCoverage" type="VirtualCoverageType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>The subject-matter coverage of a publication in terms of one ore more virtual addresses.  Must identify the protocol being used and the virtual address of the resource. See DDMS Version 2.0 Virtual Coverage.  
			</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<!--	
The following lines have been commented out to reduce the complexity of the schema.  Some enterprise tools are unable to handle the way in which the DDMS XML Schema used substitution groups to model the options available for the  publisher/contributor/creator elements. As a result the ProducerRelationType remains defined but is unused in this version of the schema.  The use of the ProducerRelationType remains commented out until such time that the tools are able to adequately handle this usage.

	<xs:element name="Entity" type="ProducerType" abstract="true">
		<xs:annotation>
			<xs:documentation>
			Information about the entity responsible for generating the resource.  Available sub-structures identified in this schema are "Organization," "Person," or "Service."		
		
			See also DDMS Version 2.0 Creator.  
			See also DDMS Version 2.0 Publisher.  
			See also DDMS Version 2.0 Contributor.  
			</xs:documentation>
		</xs:annotation>
	</xs:element>
-->
	<!-- The OrganizationType has been remodeled to accomodate tools that are unable to adequately handle the increased complexity acquired with the use of SubstitutionGroups.  The line remains commented out in the event that the tools are able to accomodate this level of complexity in the future. -->
	<!--	<xs:element name="Organization" type="OrganizationType" substitutionGroup="iiss:Entity"> -->
	<xs:element name="Organization" type="OrganizationType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>A named organization responsible as indicated by its encompasing element, i.e. as a creator, contributor, or publisher.  See DDMS Version 2.0 Creator.  See also DDMS Version 2.0 Publisher.  See also DDMS Version 2.0 Contributor.  
			</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<!-- The PersonType has been remodeled to accomodate tools that are unable to adequately handle the increased complexity acquired with the use of SubstitutionGroups.  The line remains commented out in the event that the tools are able to accomodate this level of complexity in the future. -->
	<!--	<xs:element name="Person" type="PersonType" substitutionGroup="iiss:Entity"> -->
	<xs:element name="Person" type="PersonType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>A person responsible as indicated by its encompasing element, i.e. as a creator, contributor, or publisher. See DDMS Version 2.0 Creator.  See also DDMS Version 2.0 Publisher.  See also DDMS Version 2.0 Contributor.  
			</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<!-- The ServiceType has been remodeled to accomodate tools that are unable to adequately handle the increased complexity acquired with the use of SubstitutionGroups.  The line remains commented out in the event that the tools are able to accomodate this level of complexity in the future. -->
	<!--	<xs:element name="Service" type="ServiceType" substitutionGroup="iiss:Entity"> -->
	<xs:element name="Service" type="ServiceType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>A named service responsible as indicated by its encompasing element, i.e. as a creator, contributor, or publisher. See DDMS Version 2.0 Creator.  See also DDMS Version 2.0 Publisher.  See also DDMS Version 2.0 Contributor.  
			</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="security">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>The security attributes affiliated with the data asset being described by the DDMS record.</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:attributeGroup ref="ICISM:SecurityAttributesGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="relatedResources" type="RelatedResourcesType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>Each relatedResources element represents a single type of relationship between the resource described in the enclosing ddms:Resource and other identified resources.</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<!-- End Global Elements -->
	<!-- Start Global Types -->
	<xs:complexType name="CompoundResourceIdentifierType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>
				Used to represent a Resource Identifier.
			</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
		<xs:attribute name="qualifier" type="xs:anyURI" use="required"/>
		<xs:attribute name="value" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="TitleType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>
				Common type for the title element.
			</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attributeGroup ref="ICISM:SecurityAttributesGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SubtitleType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>
				Common type for the subtitle element.
			</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attributeGroup ref="ICISM:SecurityAttributesGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="RightsType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>
			Type used to model the rights element.
			</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
		<xs:attribute name="privacyAct" type="xs:boolean" default="false">
			<xs:annotation>
				<xs:appinfo>
					<mdr:definition>(TBD:PrivacyActIndicator, 1.0) An indicator that this product is categorized as containing personal information subject to protection by the Privacy Act.  This element has no data content.  Attribute "indicator", a yes/no toggle, is used to specify applicability of the Privacy Act.  The default is "no".  {False = No}
				</mdr:definition>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="intellectualProperty" type="xs:boolean" default="false">
			<xs:annotation>
				<xs:appinfo>
					<mdr:definition>An indicator identifying products under protection against reproduction and distribution without the express written permission of the intellectual property rights owner. A yes/no value used to specify applicability of the rights.  The default is “no”. {False = No}
				</mdr:definition>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="copyright" type="xs:boolean" default="false">
			<xs:annotation>
				<xs:appinfo>
					<mdr:definition>An indicator identifying products under protection against reproduction and distribution without the express written permission of the copyright owner.  A yes/no value used to specify applicability of the rights.  The default is “no”.  {False = No}  (TBD:CopyrightIndicator, 1.0) An indicator identifying documents under protection against reproduction and distribution without the express written   permission of the copyright owner   This prohibition is binding on individuals and corporations,  as well as the US Government.  Examples of applicability:  books (yes), newspaper photos (yes), US Federal Publications (no), magazine articles  (yes), vendor technical information (yes).
				</mdr:definition>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!--
The following lines have been commented out to reduce the complexity of the schema.  Some enterprise tools are unable to handle the way in which the DDMS XML Schema used substitution groups to model the options available for the  publisher/contributor/creator elements. As a result the ProducerRelationType remains defined but is unused in this version of the schema.  The use of the ProducerRelationType remains commented out until such time that the tools are able to adequately handle this usage.

	<xs:complexType name="ProducerRelationType">
		<xs:annotation>
			<xs:documentation>
			Type used to model the entity, creator, producer, and service elements.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="iiss:Entity"/>
		</xs:sequence>
	</xs:complexType>
-->
	<xs:complexType name="ProducerBaseType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>The foundation of the ProducerType complexType.</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
		<xs:anyAttribute namespace="##other"/>
	</xs:complexType>
	<xs:complexType name="ProducerType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>The type used to model the ddms:producer element.</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ProducerBaseType">
				<xs:sequence>
					<xs:element name="name" type="xs:string" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PersonType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>The type used to model the ddms:Person element.</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ProducerType">
				<xs:sequence>
					<xs:element name="surname" type="xs:string">
						<xs:annotation>
							<xs:appinfo>
								<mdr:definition>A name shared in common to identify members of a family; also called “last name.”</mdr:definition>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="userID" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<mdr:definition>Unique identifier applied by an agency to an author, coauthor, POC, tasking requester or addressee.
							</mdr:definition>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="affiliation" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<mdr:definition>The identification of an organization or agency with which an individual or service has an affiliation.
							</mdr:definition>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="phone" type="xs:string" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<mdr:definition>A telephone number.  Optional.  This value must include country code and area code, when applicable.
							</mdr:definition>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="email" type="xs:string" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<mdr:definition>An address for electronic mail.
							</mdr:definition>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrganizationType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>The type used to model the ddms:Organization element.</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ProducerType">
				<xs:sequence>
					<xs:element name="phone" type="xs:string" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<mdr:definition>A telephone number.  Optional.  This value must include country code and area code, when applicable.
							</mdr:definition>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="email" type="xs:string" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<mdr:definition>
							An address for electronic mail.
							</mdr:definition>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ServiceType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>The type used to model the ddms:Service element.</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ProducerType">
				<xs:sequence>
					<xs:element name="phone" type="xs:string" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<mdr:definition>A telephone number.  Optional.  This value must include country code and area code, when applicable.
							</mdr:definition>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="email" type="xs:string" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<mdr:definition>An address for electronic mail.
							</mdr:definition>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DatesType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>Type used for the dates element.
			</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
		<xs:attribute name="created" type="CombinedDateType" use="optional">
			<xs:annotation>
				<xs:appinfo>
					<mdr:definition>Date of creation of the resource
				</mdr:definition>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="posted" type="CombinedDateType" use="optional">
			<xs:annotation>
				<xs:appinfo>
					<mdr:definition>The date a product is posted to a shared network or system.
				</mdr:definition>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="validTil" type="CombinedDateType" use="optional">
			<xs:annotation>
				<xs:appinfo>
					<mdr:definition>The date that a product should be removed from a registry, index, or catalog.
				</mdr:definition>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="infoCutOff" type="CombinedDateType" use="optional">
			<xs:annotation>
				<xs:appinfo>
					<mdr:definition>The cutoff date of information in a product.  This is commonly referred to as Information Cutoff Date (ICOD).  It is the date of last input.
				</mdr:definition>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="CombinedDateType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>The type used to support the range of date representations.</mdr:definition>
				<mdr:comment>
			Recommended practice is that date be specified in one of the following formats:
			YYYYYYYY-MM
			YYYY-MM-DD
			YYYY-MM-DDThh:mmTZD
			YYYY-MM-DDThh:mm.ssTZD
			YYYY-MM-DDThh:mm:ss.sTZD
			Where:YYYY	0000 through current year
			MM	01 through 12  (month)
			DD	01 through 31  (day)
			hh	00 through 24  (hour)
			mm	00 through 59  (minute)
			ss	00 through 60  (second)
			.s	.0 through 999 (fractional second)

This profile suggests two ways of handling time zone offsets:   1. Times are expressed in UTC (Coordinated Universal Time), with a special UTC designator ("Z").   2. Times are expressed in local time, together with a time zone offset in hours and minutes. A time zone offset of "+hh:mm" indicates that the date/time uses a local time zone which is "hh" hours and "mm" minutes ahead of UTC. A time zone offset of "-hh:mm" indicates that the date/time uses a local time zone which is "hh" hours and "mm" minutes behind UTC.				
			</mdr:comment>
			</xs:appinfo>
		</xs:annotation>
		<xs:union memberTypes="xs:dateTime xs:date xs:gYearMonth xs:gYear"/>
	</xs:simpleType>
	<xs:simpleType name="ExtendedCombinedDateType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>Type used to model the ddms:dates element.</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
		<xs:union memberTypes="CombinedDateType DateValueExtensionType"/>
	</xs:simpleType>
	<xs:simpleType name="DateValueExtensionType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>Type used to modify the type modeling date to allow "Not Applicable" and "Unknown".</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Not Applicable"/>
			<xs:enumeration value="Unknown"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Types used to model the source element. -->
	<xs:complexType name="CompoundSourceIdentifierType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>Type used to model the ddms:source element.</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
		<xs:attribute name="qualifier" type="xs:string" use="optional"/>
		<xs:attribute name="value" type="xs:string" use="optional"/>
		<xs:attribute name="schemaQualifier" type="xs:string" use="optional"/>
		<xs:attribute name="schemaHref" type="xs:anyURI" use="optional"/>
	</xs:complexType>
	<xs:complexType name="CompoundLanguageIdentifierType">
		<xs:attribute name="qualifier" type="xs:string">
			<xs:annotation>
				<xs:appinfo>
					<mdr:definition>The value that specifies the originating agency or discipline of the language vocabulary.  Specifies the domain vocabulary of which the Language Value is a member.  ISO 639-1 and ISO 639-2, Codes for the representation of names of languages, reference 2 and 3 digit language codes.
			</mdr:definition>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="value" type="xs:string">
			<xs:annotation>
				<xs:appinfo>
					<mdr:definition>The primary language of the intellectual content of the resource.  {Source: DCMI: language, v. 004IC MSP v. 1.0a: Language} The most specific in-scope language present (if any) should be specified in this category. 
			</mdr:definition>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="DescriptionType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>
			Type used to model the description element.		
			</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attributeGroup ref="ICISM:SecurityAttributesGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="CompoundTypeIdentifierType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>Types used to model the type element.
			</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
		<xs:attribute name="qualifier" type="xs:string"/>
		<xs:attribute name="value" type="xs:string"/>
	</xs:complexType>
	<!-- Types used to model the format element -->
	<xs:complexType name="FormatType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>Type used to model the ddms:format element.</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Media" type="MediaType">
				<xs:annotation>
					<xs:appinfo>
						<mdr:definition>Container item for holding media info.
					</mdr:definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MediaType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>Type used to model the ddms:medium element.</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="mimeType"/>
			<xs:element ref="extent" minOccurs="0"/>
			<xs:element ref="medium" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Types used to model the extent element -->
	<xs:complexType name="QualifiedExtentValueType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>Type used to model the attributes of the ddms:extent element.</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
		<xs:attribute name="qualifier" type="xs:anyURI">
			<xs:annotation>
				<xs:appinfo>
					<mdr:definition>A vocabulary that specifies the type of format extent that will be supplied.  The qualifier attribute indicates the type of extent value listed.  In the case of data bytes, it may indicate ‘byte size’.  In the case of a document length, it may indicate ‘page count’.  In the case of streaming content, it may indicate ‘bits per second’ or ‘frames per second’.
				</mdr:definition>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="value" type="xs:string">
			<xs:annotation>
				<xs:appinfo>
					<mdr:definition>A related data size, compression rate, or pixel size (etc.) of the resource.
				</mdr:definition>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="MediumType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>Type used to model the medium attribute of the ddms:medium element.
			</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="MimeTypeType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>Type used to model the mimeType element.
			</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="SubjectCoverageType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>Type used to model the subjectCoverage element.
			</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Subject"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubjectType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>The type used to model the Subject element.</mdr:definition>
				<mdr:comment>Developer's Note:  Change request 2006-1 http://metadata.dod.mil/irs/DDMS/cm/CR/2006/DDMS-CR-2006-1 identifies an issue with the way this was modeled in DDMS 1.3.  In that the Apache AXIS code generator was unable to generate working code from the XML Schema.  This representation addresses part of the issue, however in order to work properly with Apache AXIS the developer may need to add minOccurs="0" maxOccurs="unbounded" to the keyword and category element references.  That is, this choice may need to be modified to the following representation in order for the Apache AXIS WSDL2Java tool to generate code:
				<!--
					<xs:choice minOccurs="1" maxOccurs="unbounded">
						<xs:element ref="category" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="keyword" minOccurs="0" maxOccurs="unbounded"/>
					</xs:choice>
				-->
				</mdr:comment>
			</xs:appinfo>
		</xs:annotation>
		<xs:choice maxOccurs="unbounded">
			<xs:element ref="category"/>
			<xs:element ref="keyword"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="CompoundKeywordIdentifierType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>Type used to model the ddms:keyword element.</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
		<xs:attribute name="value" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="CompoundCategoryIdentifierType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>Type used to model the attributes of the ddms:category element.</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
		<xs:attribute name="qualifier" type="xs:anyURI" use="optional"/>
		<xs:attribute name="code" type="xs:string" use="optional"/>
		<xs:attribute name="label" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="TemporalCoverageType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>Type used to model the temporalCoverage element.
			</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TimePeriod" type="TimePeriodType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TimePeriodType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>Type used to model the TimePeriod sub-element of the ddms:temporalCoverage element.</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="xs:string" default="Unknown" minOccurs="0"/>
			<xs:element name="start" type="ExtendedCombinedDateType" default="Unknown"/>
			<xs:element name="end" type="ExtendedCombinedDateType" default="Unknown"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VirtualCoverageType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>
			Type used to model the virtualCoverage element.
			</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
		<xs:attribute name="protocol" type="xs:string" use="optional"/>
		<xs:attribute name="address" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="RelatedResourcesType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>The type entity used by the ddms:relationship element.  Each ddms:relatedResource element designates the relationship and the directionality of the relationship between the resource described by the parent ddms:Resource and any ddms:RelatedResource elements that the ddms:relatedResource element contains.  To represent multiple relationships multiple ddms:relatedResources elements are required. </mdr:definition>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RelatedResource" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<mdr:definition>Each RelatedResource element represents a resource related to the resource described by the enclosing ddms:Resource element.  The relationship is in the direction specified by the direction attribute on the parent relatedResources element.</mdr:definition>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="CompoundResourceIdentifierType">
							<xs:annotation>
								<xs:appinfo>
									<mdr:definition>Extends from CompoundResourceIdentifierType to inherit qualifier and value attributes.</mdr:definition>
								</xs:appinfo>
							</xs:annotation>
							<xs:sequence>
								<xs:element name="link" maxOccurs="unbounded">
									<xs:complexType>
										<xs:attributeGroup ref="xlink:locatorLink"/>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="relationship" type="xs:anyURI" use="required">
			<xs:annotation>
				<xs:appinfo>
					<mdr:definition>Represents a relationship of some relationship type between the resource described by the parent ddms:Resource element and another resource or resources.</mdr:definition>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="direction" use="optional" default="outbound">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="inbound">
						<xs:annotation>
							<xs:appinfo>
								<mdr:definition>Used to indicate that the relationship direction is from the related resource to the resource described in the instant DDMS record.</mdr:definition>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="outbound">
						<xs:annotation>
							<xs:appinfo>
								<mdr:definition>Used to indicate that the relationship direction is from the resource described in the instant DDMS record to the related resource identified.</mdr:definition>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="bidirectional">
						<xs:annotation>
							<xs:appinfo>
								<mdr:definition>Used to indicate that the relationship is bidirectional between the resource described in the instant DDMS record and the related resource identified.</mdr:definition>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attributeGroup ref="ICISM:SecurityAttributesOptionGroup"/>
	</xs:complexType>
	<!-- End Global Types -->
</xs:schema>
