schema/external/ISM/CVE/ISMCVE/Schema/DDMS/GeospatialCoverage_attributeVocabularyDefinitions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://metadata.dod.mil/mdr/ns/DDMS/2.0/" xmlns:mdr="http://metadata.dod.mil/" targetNamespace="http://metadata.dod.mil/mdr/ns/DDMS/2.0/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0">
	<xs:annotation>
		<xs:documentation>
			Change Log:
			
			6/05/2007 (J. Pantella) -- Per CR 2007-7: Added "HAE" (Height Above Ellipsoid) enumeration to the VerticalDatumType; Added "Kilometer" to the LengthMeasureType; modified the "Mile" enumeration to "StatuteMile".  See also http://metadata.dod.mil/mdr/irs/cm/CR/2007/DDMS-CR-2007-7.
			7/05/2007 (J. Pantella) -- Declared a targetNamespace for this schema, moving all types into the "http://metadata.dod.mil/mdr/ns/DDMS/1.4.1/" XML Namespace.
			1/3/2007 (J. Pantella) -- Modified version attribute to reflect that this is version 1.4.2.
			7/15/2008 (J. Pantella) -- Modified version attribute to reflect that this is version 2.0.
		</xs:documentation>
	</xs:annotation>
	<xs:element name="CoverageRFCAttributeVocabularyDefinitions">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>This document contains the enumerations used to qualify the vertical extent data.</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<!-- **************************************************************** -->
	<!-- ATTRIBUTE VOCABULARY DEFINITIONS ............................... -->
	<!-- **************************************************************** -->
	<xs:simpleType name="VerticalDatumType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>
			MSL - Mean Sea Level; MSL is understood to be functionally equivalent to the EGM-96 (Earth Gravity Model 1996) Geoid for the purposes of search expressions.
			AGL - Above Ground Level
			HAE - Height Above Ellipsoid
			</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="MSL"/>
			<xs:enumeration value="AGL"/>
			<xs:enumeration value="HAE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LengthMeasureType">
		<xs:annotation>
			<xs:appinfo>
				<mdr:definition>
			Meter - SI standard length unit of measure; 
			Kilometer - Length unit of measure equivalent to 1000 meters;
			Foot - Length unit of measure equivalent to 0.3048 meters; 
			StatuteMile - Length unit of measure equivalent to 1609.344 meters; 
			NauticalMile - Length unit of measure equivalent to 1852 meters; 
			Fathom - Length unit of measure equivalent to 1.8288 meters; 
			Inch - Length unit of measure equivalent to 0.0254 meters.
			</mdr:definition>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Meter"/>
			<xs:enumeration value="Kilometer"/>
			<xs:enumeration value="Foot"/>
			<xs:enumeration value="StatuteMile"/>
			<xs:enumeration value="NauticalMile"/>
			<xs:enumeration value="Fathom"/>
			<xs:enumeration value="Inch"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
